<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="w-full h-screen bg-gray-200 flex justify-center">
        <div class="w-[2000px] h-[120px] bg-white rounded-2xl border-2 border-slate-100 p-6 mt-10 flex justify-between">
            <div>
            <p class="font-bold text-3xl ">Dominion City Church Attendance Dashboard</p>
            <p class="text-xl text-gray-400 font-semibold">Manage Church Attendance, Members, Ministries, and Attendance</p>
            </div>
            <div>
                <input class="w-[400px] h-[50px] border-2 border-slate-300"/>
            </div>
        </div>
    </main>
</body>
</html>