<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="w-full h-screen bg-gray-200 flex flex-col gap-10 p-10">
        <header class="w-full h-24 bg-white rounded-3xl p-6 mt-10 flex justify-between">
            <div>
            <p class="font-bold text-xl ">Dominion City Church Attendance Dashboard</p>
            <p class="text-sm text-gray-400 font-semibold">Manage Church Attendance, Members, Ministries, and Attendance Analytics</p>
            </div>
            <div class="flex gap-4">
                <input class="w-[400px] h-[60px] border border-slate-200 bg-gray-100 rounded-2xl text-xl font-semibold p-4" 
                placeholder="Search member by name, phone "/>
                <logo class="bg-black w-[50px] h-[50px] text-white font-bold flex justify-center items-center text-xl rounded-xl">E</logo>
                <logo class="w-[55px] h-[55px] bg-blue-100 text-blue-500 text-2xl flex justify-center items-center font-bold rounded-full">CA</logo>
                <div>
                <p class="text-xl font-bold">Church Administrator</p>
                <p class="text-gray-400 font-semibold text-xl">admin@dominioncity.org</p>
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>